
/* --------------------------------------------------------------
RESET
----------------------------------------------------------------- */

* { margin:0; padding:0; outline:none; border:0; list-style-type:none; text-decoration:none; list-style-image:none; box-sizing:border-box;}

html{font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}
header, section, footer, article, figcaption, hgroup, figure, details, aside, img, nav, time, bloquote, svg, button {display:block;}
audio, canvas, video {display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
[hidden]{display:none;}

table {border-collapse:collapse; width:100%;}

object[type="application/gas-events-uni"] {width:0; height:0; position:absolute; overflow:hidden; display:block; text-indent:-999999px}

input[type="search"], input[type="submit"] {-webkit-appearance:textfield; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; box-sizing:content-box; border-radius:0; -webkit-border-radius:0;}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.ui-helper-hidden-accessible {.hide}

/* --------------------------------------------------------------
DEFAULT STYLES
----------------------------------------------------------------- */

html,body {height:100%;}

body {background:#000}

/* FORMATING CLASSES
---------------------------- */

.clear {clear:both;}
.hide {width:0; height:0; position:absolute; overflow:hidden; display:block; text-indent:-999999px}
hr {display:none;}

.left {float:left;}
.right {float:right;}
.center {margin:0 auto;}
.middle {display:block; position:relative; top:50%; transform:translateY(-50%);}
.middleOff {top:inherit; transform:none;}

.nopadding {padding-left:0; padding-right:0}

.textRight {text-align:right;}
.textLeft {text-align:left;}
.textCenter {text-align:center;}

.cols(@col : 2, @gap : 40px)
{
    -moz-column-count: @col;
    -moz-column-gap: @gap;
    -webkit-column-count: @col;
    -webkit-column-gap: @gap;
    column-count: @col;
    column-gap: @gap;
}

.colsRules(@size : 1px, @style : solid, @cor : rgba(0,0,0,0.1)){
    -webkit-column-rule: @size @style @cor;
    -moz-column-rule: @size @style @cor;
    column-rule: @size @style @cor;
}

.rotate(@grau : 20.20deg){
    -moz-transform: rotate(@grau);
    -webkit-transform: rotate(@grau);
    -o-transform: rotate(@grau);
    -ms-transform: rotate(@grau);
    transform: rotate(@grau);
}

/* BACKGROUNDS */

.bgCover(@att : inherit)
{
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: @att;
}

.bgContain(@att : inherit)
{
    -webkit-background-size:contain;
    -moz-background-size:contain;
    -o-background-size:contain;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center center;
    background-attachment: @att;
}