.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1445px) {
  .container {
    width: 1240px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-ls-1,
.col-ls-10,
.col-ls-11,
.col-ls-12,
.col-ls-2,
.col-ls-3,
.col-ls-4,
.col-ls-5,
.col-ls-6,
.col-ls-7,
.col-ls-8,
.col-ls-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 571px) {
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9 {
    float: left;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-pull-12 {
    right: 100%;
  }
  .col-xl-pull-11 {
    right: 91.66666667%;
  }
  .col-xl-pull-10 {
    right: 83.33333333%;
  }
  .col-xl-pull-9 {
    right: 75%;
  }
  .col-xl-pull-8 {
    right: 66.66666667%;
  }
  .col-xl-pull-7 {
    right: 58.33333333%;
  }
  .col-xl-pull-6 {
    right: 50%;
  }
  .col-xl-pull-5 {
    right: 41.66666667%;
  }
  .col-xl-pull-4 {
    right: 33.33333333%;
  }
  .col-xl-pull-3 {
    right: 25%;
  }
  .col-xl-pull-2 {
    right: 16.66666667%;
  }
  .col-xl-pull-1 {
    right: 8.33333333%;
  }
  .col-xl-pull-0 {
    right: auto;
  }
  .col-xl-push-12 {
    left: 100%;
  }
  .col-xl-push-11 {
    left: 91.66666667%;
  }
  .col-xl-push-10 {
    left: 83.33333333%;
  }
  .col-xl-push-9 {
    left: 75%;
  }
  .col-xl-push-8 {
    left: 66.66666667%;
  }
  .col-xl-push-7 {
    left: 58.33333333%;
  }
  .col-xl-push-6 {
    left: 50%;
  }
  .col-xl-push-5 {
    left: 41.66666667%;
  }
  .col-xl-push-4 {
    left: 33.33333333%;
  }
  .col-xl-push-3 {
    left: 25%;
  }
  .col-xl-push-2 {
    left: 16.66666667%;
  }
  .col-xl-push-1 {
    left: 8.33333333%;
  }
  .col-xl-push-0 {
    left: auto;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col-ls-1,
  .col-ls-10,
  .col-ls-11,
  .col-ls-12,
  .col-ls-2,
  .col-ls-3,
  .col-ls-4,
  .col-ls-5,
  .col-ls-6,
  .col-ls-7,
  .col-ls-8,
  .col-ls-9 {
    float: left;
  }
  .col-ls-12 {
    width: 100%;
  }
  .col-ls-11 {
    width: 91.66666667%;
  }
  .col-ls-10 {
    width: 83.33333333%;
  }
  .col-ls-9 {
    width: 75%;
  }
  .col-ls-8 {
    width: 66.66666667%;
  }
  .col-ls-7 {
    width: 58.33333333%;
  }
  .col-ls-6 {
    width: 50%;
  }
  .col-ls-5 {
    width: 41.66666667%;
  }
  .col-ls-4 {
    width: 33.33333333%;
  }
  .col-ls-3 {
    width: 25%;
  }
  .col-ls-2 {
    width: 16.66666667%;
  }
  .col-ls-1 {
    width: 8.33333333%;
  }
  .col-ls-pull-12 {
    right: 100%;
  }
  .col-ls-pull-11 {
    right: 91.66666667%;
  }
  .col-ls-pull-10 {
    right: 83.33333333%;
  }
  .col-ls-pull-9 {
    right: 75%;
  }
  .col-ls-pull-8 {
    right: 66.66666667%;
  }
  .col-ls-pull-7 {
    right: 58.33333333%;
  }
  .col-ls-pull-6 {
    right: 50%;
  }
  .col-ls-pull-5 {
    right: 41.66666667%;
  }
  .col-ls-pull-4 {
    right: 33.33333333%;
  }
  .col-ls-pull-3 {
    right: 25%;
  }
  .col-ls-pull-2 {
    right: 16.66666667%;
  }
  .col-ls-pull-1 {
    right: 8.33333333%;
  }
  .col-ls-pull-0 {
    right: auto;
  }
  .col-ls-push-12 {
    left: 100%;
  }
  .col-ls-push-11 {
    left: 91.66666667%;
  }
  .col-ls-push-10 {
    left: 83.33333333%;
  }
  .col-ls-push-9 {
    left: 75%;
  }
  .col-ls-push-8 {
    left: 66.66666667%;
  }
  .col-ls-push-7 {
    left: 58.33333333%;
  }
  .col-ls-push-6 {
    left: 50%;
  }
  .col-ls-push-5 {
    left: 41.66666667%;
  }
  .col-ls-push-4 {
    left: 33.33333333%;
  }
  .col-ls-push-3 {
    left: 25%;
  }
  .col-ls-push-2 {
    left: 16.66666667%;
  }
  .col-ls-push-1 {
    left: 8.33333333%;
  }
  .col-ls-push-0 {
    left: auto;
  }
  .col-ls-offset-12 {
    margin-left: 100%;
  }
  .col-ls-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-ls-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-ls-offset-9 {
    margin-left: 75%;
  }
  .col-ls-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-ls-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-ls-offset-6 {
    margin-left: 50%;
  }
  .col-ls-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-ls-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-ls-offset-3 {
    margin-left: 25%;
  }
  .col-ls-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-ls-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-ls-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1441px) {
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
@-ms-viewport {
  width: device-width;
}
.visible-lg,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block,
.visible-ls-block,
.visible-ls-inline,
.visible-ls-inline-block,
.visible-md,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-sm,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-xl,
.visible-xl-block,
.visible-xl-inline,
.visible-xl-inline-block,
.visible-xs,
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block {
  display: none !important;
}
@media (max-width: 480px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  td.visible-xs,
  th.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xl {
    display: block !important;
  }
  table.visible-xl {
    display: table !important;
  }
  tr.visible-xl {
    display: table-row !important;
  }
  td.visible-xl,
  th.visible-xl {
    display: table-cell !important;
  }
}
@media (max-width: 480px) {
  .visible-xs-block {
    display: block !important;
  }
  .visible-xs-inline {
    display: inline !important;
  }
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .visible-xl-block {
    display: block !important;
  }
  .visible-xl-inline {
    display: inline !important;
  }
  .visible-xl-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm,
  .visible-sm-block {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  td.visible-sm,
  th.visible-sm {
    display: table-cell !important;
  }
  .visible-sm-inline {
    display: inline !important;
  }
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md,
  .visible-md-block {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  td.visible-md,
  th.visible-md {
    display: table-cell !important;
  }
  .visible-md-inline {
    display: inline !important;
  }
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-ls {
    display: block !important;
  }
  table.visible-ls {
    display: table !important;
  }
  tr.visible-ls {
    display: table-row !important;
  }
  td.visible-ls,
  th.visible-ls {
    display: table-cell !important;
  }
}
@media (min-width: 1441px) {
  .visible-lg,
  .visible-lg-block {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  td.visible-lg,
  th.visible-lg {
    display: table-cell !important;
  }
  .visible-lg-inline {
    display: inline !important;
  }
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 480px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .hidden-xl {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-ls {
    display: none !important;
  }
}
@media (min-width: 1441px) {
  .hidden-lg {
    display: none !important;
  }
}
.visible-print {
  display: none !important;
}
@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table !important;
  }
  tr.visible-print {
    display: table-row !important;
  }
  td.visible-print,
  th.visible-print {
    display: table-cell !important;
  }
}
.visible-print-block {
  display: none !important;
}
@media print {
  .visible-print-block {
    display: block !important;
  }
}
.visible-print-inline {
  display: none !important;
}
@media print {
  .visible-print-inline {
    display: inline !important;
  }
}
.visible-print-inline-block {
  display: none !important;
}
@media print {
  .visible-print-inline-block {
    display: inline-block !important;
  }
  .hidden-print {
    display: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  list-style-type: none;
  text-decoration: none;
  list-style-image: none;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
article,
aside,
bloquote,
button,
details,
figcaption,
figure,
footer,
header,
hgroup,
img,
nav,
section,
svg,
time {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
.owl-nav button span,
[hidden],
hr {
  display: none;
}
table {
  border-collapse: collapse;
  width: 100%;
}
object[type="application/gas-events-uni"] {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  display: block;
  text-indent: -999999px;
}
input[type=search],
input[type=submit] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 0;
  -webkit-border-radius: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:active,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  transition: background-color 5000s ease-in-out 0s;
}
.ui-helper-hidden-accessible {
  display: none!important;
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  text-indent: -999999px;
}
body,
html {
  height: 100%;
}
.clear {
  clear: both;
}
.hide {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
  text-indent: -999999px;
}
.left {
  float: left;
}
.right {
  float: right;
}
.center {
  margin: 0 auto;
}
.middle {
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.middleOff {
  top: inherit;
  transform: none;
}
.nopadding {
  padding-left: 0;
  padding-right: 0;
}
.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}
.textCenter {
  text-align: center;
}
.pontinhos {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.imgLazyLoad {
  position: relative;
  background: #f2f2f2 url(../images/preloader-images.gif) no-repeat center;
}
.imgLazyLoad .img {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.owl-dots,
.owl-nav button {
  position: absolute;
  z-index: 1;
}
.owl-nav button {
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  width: 70px;
}
.owl-nav button:hover {
  background: #000;
}
.owl-nav button.owl-prev {
  left: 15px;
}
.owl-nav button.owl-next:before,
.owl-nav button.owl-prev:before {
  font-family: 'shoppings-ancar';
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  content: "\f007";
  color: #fff;
  font-size: 26px;
  position: relative;
  left: -2px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.owl-nav button.owl-next {
  right: 15px;
}
.owl-nav button.owl-next:before {
  content: "\f006";
  left: 2px;
}
@media screen and (max-width: 992px) {
  .owl-nav button {
    width: 50px;
    height: 50px;
  }
  .owl-nav button.owl-next:before,
  .owl-nav button.owl-prev:before {
    font-size: 20px;
  }
}
@media screen and (max-width: 680px) {
  .owl-nav button.owl-prev {
    left: 10px;
  }
  .owl-nav button.owl-next {
    right: 10px;
  }
}
.owl-dots {
  bottom: 40px;
  width: 80px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.owl-dots button {
  display: inline-block;
  vertical-align: middle;
  width: 6px;
  height: 6px;
  background: #fff;
  margin: 0 2px;
  border-radius: 10px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}
.owl-dots button.active {
  background: #e34b20;
  width: 10px;
  height: 10px;
}
@media screen and (max-width: 992px) {
  .owl-dots {
    bottom: 20px;
  }
}
.btn {
  display: inline-block;
  padding: 0 30px;
  height: 50px;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  position: relative;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 50px;
  color: #fff;
  font-style: normal;
  text-transform: uppercase;
  background: #006a9e;
  border-radius: 7px;
  cursor: pointer;
}
.btn.wide {
  height: 40px;
  line-height: 38px;
}
.btn.ultraWide,
.btn.wide {
  width: 100%;
  max-width: 280px;
  padding: 0 20px;
  text-align: center;
}
.btn.big {
  height: 68px;
  line-height: 68px;
}
.btn.full {
  width: 100%;
  text-align: center;
}
.btn.thin {
  min-width: 212px;
  height: 40px;
  line-height: 38px;
  text-align: center;
}
.btn.amarelo {
  color: #000;
  background: #fabb00;
}
.btn.laranja {
  color: #000;
  background: #e34b20;
}
.btn.azul {
  color: #fff;
  background: #006a9e;
}
.btn.verde {
  color: #fff;
  background: #4d9d56;
}
.btn:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.btn.outline {
  background: 0 0;
  border: 2px solid #eaeaea;
  width: 100%;
  max-width: 280px;
  padding: 0 10px;
  text-align: center;
  height: 40px;
  line-height: 34px;
  color: #404040;
  text-transform: none;
  font-size: 18px;
  box-shadow: none;
  font-weight: 500;
}
.btn.outline:hover {
  color: #004681;
  border: 2px solid #004681;
}
.btn.outline.activeScroll {
  color: #fff;
  background: #004681;
  border: 2px solid #004681;
}
.btn i {
  font-size: 20px;
}
@media screen and (max-width: 580px) {
  .btn.outline {
    font-size: 14px;
    padding: 0;
    line-height: 36px;
  }
}
.formularioStyle {
  clear: both;
  position: relative;
}
.formularioStyle label,
.formularioStyle legend {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
  color: #000;
  font-style: italic;
  text-transform: none;
  display: block;
  padding-bottom: 15px;
}
.formularioStyle div.input {
  margin-bottom: 30px;
  position: relative;
}
.formularioStyle label {
  font-size: 1.2em;
  line-height: normal;
  color: #373b40;
  padding-bottom: 8px;
}
.formularioStyle label span {
  color: #5d5d5d;
  font-weight: 400;
}
.formularioStyle .defaultInputStyle,
.formularioStyle textarea.defaultInputStyle {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  font-style: normal;
  text-transform: none;
}
.formularioStyle .defaultInputStyle {
  width: 100%;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 0 15px;
  height: 50px;
  line-height: 50px;
}
.formularioStyle .defaultInputStyle.error,
.formularioStyle div.inputfile.error {
  border: 2px solid #fbc5c5;
}
.formularioStyle textarea.defaultInputStyle {
  padding: 10px 15px;
  height: 200px;
  line-height: 20px;
}
.formularioStyle ::-webkit-input-placeholder {
  color: #555;
  opacity: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.formularioStyle ::-moz-placeholder {
  color: #555;
  opacity: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.formularioStyle :-ms-input-placeholder {
  color: #555;
  opacity: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.formularioStyle :-moz-placeholder {
  color: #555;
  opacity: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
.formularioStyle div.checkbox label,
.formularioStyle div.radio label {
  display: block;
  position: relative;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #404040;
  font-style: normal;
  text-transform: none;
}
.formularioStyle div.checkbox input,
.formularioStyle div.radio input {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.formularioStyle div.checkbox input + span.fakeRadio,
.formularioStyle div.radio input + span.fakeRadio {
  border-radius: 20px;
}
.formularioStyle div.checkbox input + span.fakeRadio span,
.formularioStyle div.radio input + span.fakeRadio span {
  border-radius: 10px;
}
.formularioStyle div.checkbox input + span.fakeCheck,
.formularioStyle div.checkbox input + span.fakeRadio,
.formularioStyle div.radio input + span.fakeCheck,
.formularioStyle div.radio input + span.fakeRadio {
  position: relative;
  z-index: 0;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 5px;
  cursor: pointer;
}
.formularioStyle div.checkbox input + span.fakeCheck span,
.formularioStyle div.checkbox input + span.fakeRadio span,
.formularioStyle div.radio input + span.fakeCheck span,
.formularioStyle div.radio input + span.fakeRadio span {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #006a9e;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  opacity: 0;
}
.formularioStyle div.checkbox input:checked + span.fakeCheck span,
.formularioStyle div.checkbox input:checked + span.fakeRadio span,
.formularioStyle div.radio input:checked + span.fakeCheck span,
.formularioStyle div.radio input:checked + span.fakeRadio span {
  opacity: 1;
}
.formularioStyle div.select {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 0;
  overflow: hidden;
}
.formularioStyle div.select:before {
  font-family: 'shoppings-ancar';
  font-style: normal;
  font-weight: 400;
  text-decoration: inherit;
  content: "\e82e";
  color: #000;
  font-size: 16px;
  position: absolute;
  z-index: 0;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.formularioStyle div.inputfile,
.formularioStyle div.select,
.formularioStyle div.select select {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #555;
  font-style: normal;
  text-transform: none;
  position: relative;
}
.formularioStyle div.select select {
  z-index: 1;
  width: calc(100% + 17px);
  background: 0 0;
  border: 0;
  height: 50px;
  padding: 0 15px;
  line-height: 20px;
}
@media all and (-ms-high-contrast: none) {
  .formularioStyle div.select select {
    width: calc(100% + 30px);
  }
  .formularioStyle div.select select ::-ms-backdrop {
    width: calc(100% + 30px);
  }
}
@supports (-ms-ime-align:auto) {
  .formularioStyle div.select select {
    width: calc(100% + 30px);
  }
}
.formularioStyle div.inputfile {
  width: 100%;
  line-height: 50px;
  background: #f8f8f8;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  height: 70px;
  padding: 0;
  overflow: hidden;
}
.formularioStyle div.inputfile input {
  position: absolute;
  width: 100%;
  height: 70px;
  line-height: 70px;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  display: block;
}
.formularioStyle div.inputfile span.fakeButton.btn {
  float: right;
  position: relative;
  z-index: 0;
  margin: 2px 2px 0 0;
  padding: 0;
  background: 0 0;
  text-align: center;
  height: 70px;
  width: 70px;
  line-height: 64px;
}
.formularioStyle div.inputfile span.fakeButton.btn i {
  color: #006a9e;
  font-size: 26px;
}
.formularioStyle div.inputfile span.filename {
  width: calc((100% - 70px) - 15px);
  float: left;
  position: relative;
  z-index: 0;
  padding: 0 0 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  height: 70px;
  line-height: 64px;
}
.formularioStyle div.inputfile span.filename:not(.notempty) {
  font-weight: 400;
  color: #5d5d5d;
  font-style: italic;
  font-size: 0.9em;
}
.formularioStyle .captcha {
  text-align: right;
}
.formularioStyle .captcha label {
  display: inline-block;
  height: 60px;
  line-height: 60px;
}
.formularioStyle .captcha label strong {
  color: #004681;
  font-weight: 700;
}
.formularioStyle .captcha input[type=text] {
  width: 60px;
  text-align: center;
  padding: 0;
  display: inline-block;
  margin: 0 0 0 15px;
}
.formularioStyle .captcha .g-recaptcha {
  float: right;
}
.formularioStyle .captcha img {
  margin: 4px auto;
  opacity: 0;
  display: none;
}
.formularioStyle#formTraceRoute .defaultInputStyle {
  padding: 0 50px 0 15px;
}
.formularioStyle #map {
  height: 400px;
  position: relative;
  background: #f2f2f2 url(../images/preloader-images.gif) no-repeat center;
  margin-bottom: 30px;
}
.formularioStyle #trajeto-texto .adp-step,
.formularioStyle #trajeto-texto .adp-substep {
  font-size: 1.2em;
  font-weight: 400;
  padding: 10px 0;
}
.formularioStyle button.getLocation {
  position: absolute;
  right: 1px;
  top: 1px;
  height: 48px;
  width: 50px;
  text-align: center;
  background: 0 0;
  cursor: pointer;
}
.formularioStyle button.getLocation i {
  color: #b7b7b7;
  font-size: 24px;
  line-height: 44px;
  position: relative;
  top: -2px;
}
@media screen and (max-width: 740px) {
  .formularioStyle #map {
    height: 300px;
  }
}
@media screen and (max-width: 580px) and (orientation: portrait) {
  .formularioStyle .captcha .validacao {
    text-align: center;
    padding-bottom: 30px;
  }
  .formularioStyle .captcha .g-recaptcha {
    float: none;
    margin-bottom: 30px;
  }
  .formularioStyle .captcha .g-recaptcha > div {
    margin: 0 auto;
  }
}
.boxMessageStyles .alertsMessages {
  height: 0;
  opacity: 0;
}
.boxMessageStyles .alertsMessages .alertBox,
.boxMessageStyles .alertsMessages .alertBox h1 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 500;
  line-height: normal;
  color: #000;
  font-style: normal;
  text-transform: none;
}
.boxMessageStyles .alertsMessages .alertBox {
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  font-size: 14px;
}
.boxMessageStyles .alertsMessages .alertBox h1 {
  font-size: 22px;
  padding-bottom: 10px;
}
.boxMessageStyles .alertsMessages .alertBox a.closeAlert {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 16px;
  color: #404040;
}
.boxMessageStyles .alertsMessages .alertBox p,
.boxMessageStyles .alertsMessages .alertBox ul li,
body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 400;
  color: #000;
  font-style: normal;
  text-transform: none;
}
.boxMessageStyles .alertsMessages .alertBox p {
  padding: 0;
  font-size: 14px;
  line-height: normal;
}
.boxMessageStyles .alertsMessages .alertBox ul li,
body {
  font-size: 15px;
  line-height: 16px;
}
.boxMessageStyles .alertsMessages .alertBox.formError {
  background: #fff4f4;
  border: 1px solid #fbc5c5;
}
.boxMessageStyles .alertsMessages .alertBox.formSucesso {
  background: #eeffe4;
  border: 1px solid #b7ff8f;
}
#preloaderPage {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10000;
  background: url(../images/preloader-fundo-branco.gif) no-repeat center, rgba(255, 255, 255, 0.9);
  display: none;
  opacity: 0;
}
body {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #373b40;
}
/*# sourceMappingURL=style.css.map */